@function random-hex() {
    $color: '#';
    $i: 1;
    $letters: A, B, C, D, E, F;

    @while $i <=6 {
        $number: random($limit: 15);
        @if ($number > 9) {
            $color: $color + random($letters);
        } @else {
            $color: $color + $number;
        }
        @return unquote($string: $color);
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:20px;
}

.col-1 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}
.col-2 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}.col-3 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}.col-4 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}.col-5 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}.col-6 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}.col-7 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}.col-8 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}.col-9 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}.col-1o{
    height: 100px;
    width: 100px;
    background-color: random-hex();
}.col-11 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}.col-12 {
    height: 100px;
    width: 100px;
    background-color: random-hex();
}